<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">
  <div class="section" id="header">
    <div class="lines">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="header light">Hello</h1>
          <h3 class="light">My name is George Whiting and I am a Front End Developer</h3>
          <p class="content grey">
            Being a developer I have been lucky enough to have worked on some really
            exciting projects and gaining valuable exposure to modern technologies and frameworks.  
          </p>
          <p class="light"><i>“ I always give 100% and am eager to expand my knowledge by furthering my career as a Developer ”</i>
          </p>
        </div>
      </div>
    </div>
  </div>
	<div class="section" id="about" (click)="fullpage_api.moveSectionDown()">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>About</h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="about-icons">
            <img src="../assets/broom.svg">
          </div>           
          <h5>Clean Code</h5>
        </div>
        <div class="col">
          <div class="about-icons">
            <img src="../assets/comment.svg">
          </div>
          <h5>Good Communicator</h5>           
        </div>
        <div class="col">
          <div class="about-icons">
            <img src="../assets/phone.svg">
          </div>   
          <h5>Responsive Design</h5>         
        </div>
        <div class="col">
          <div class="about-icons">
            <img src="../assets/book.svg">
          </div>
          <h5>Quick Learner</h5>             
        </div>
      </div>      
      
      <div class="row">
        <div class="col">
      
          <p class="light">From implementing complex 
            front end solutions to creating fluid animated UI to a clients specification, I have gained
            wide ranging experience which only furthers my desire to continue learning.
          <br>
          <br>
            I have learnt the values of communication and what is expected from working 
            in a commercial environment.
            I have learnt that being able to apply business logic to a problem is crucial
             when you are writing code for customers and clients. 
            <br>
            <br>
            I have also learnt that time should be taken to find not just 
            the right way but the best way of tackling a technical problem and 
            producing clean efficient code. 
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="section" id="skills">
		<div class="slide" id="javaScript">Slide 2.1</div>
		<div class="slide" id="angular">Slide 2.2</div>
    <div class="slide" id="html">Slide 2.3</div>
    <div class="slide" id="learning">Slide 2.3</div>
	</div>

  <div class="section" id="experience"(click)="fullpage_api.moveTo('secondPage', 2)">Some section4</div>
  <div class="section" id="contact"(click)="fullpage_api.moveTo('secondPage', 2)">Some section4</div>
</div>