<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">
  <div class="section" id="header">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="header light">George Whiting</h1>
          <h3>Front End Developer</h3>
          <p class="">Hello, my name is George and I am a hard worker with a keen eye for detail and design.
            Being a developer I have been lucky enough to have worked on some really
            exciting projects using modern technologies and frameworks. From implementing complex 
            front end solutions to creating fluid animated UI to a clients specification, I have gained
            wide ranging experience which only furthers my desire to continue learning. 
          </p>
        </div>
        <div class="col">
          <p>“I always give 100% and am eager to expand my knowledge by furthering my career as a Developer”</p>
        </div>
      </div>
    </div>
  </div>
	<div class="section" id="about" (click)="fullpage_api.moveSectionDown()">
    <div class="container">
      <div class="row">
        <div class="col">
          <p>I have learnt a great deal working within the industry,
            I have learnt the values of communication and what is expected from working 
            in a commercial environment.
            I have learnt that being able to apply business logic to a problem is crucial
             when you are writing code for customers and clients. 
            I have also learnt that time should be taken to find not just 
            the right way but the best way of tackling a technical problem and 
            producing clean efficient code. 
          </p>
        </div>
        <div class="col">        
        </div>
      </div>
    </div>
  </div>
  
  <div class="section" id="skills">
		<div class="slide" id="javaScript">Slide 2.1</div>
		<div class="slide" id="angular">Slide 2.2</div>
    <div class="slide" id="html">Slide 2.3</div>
    <div class="slide" id="learning">Slide 2.3</div>
	</div>

  <div class="section" id="experience"(click)="fullpage_api.moveTo('secondPage', 2)">Some section4</div>
  <div class="section" id="contact"(click)="fullpage_api.moveTo('secondPage', 2)">Some section4</div>
</div>