@import url(~fullpage.js/dist/fullpage.min.css);
@import "../node_modules/uikit/src/scss/variables-theme.scss";
@import "../node_modules/uikit/src/scss/mixins-theme.scss";
@import "../node_modules/uikit/src/scss/uikit-theme.scss";

@import "./variables.scss";

* {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
}

.blue-this-light{
    color:$blue-light;
}

.blue-this-dark{
    color:$blue-medium;
}

.blue-this-darker{
    color:$blue-dark;
}

.dark-btn{
    background-color:#001b4d !important;
    border:0 !important;
}
.transparent-btn{
    background-color: transparent !important;
    border-color: white !important;
}

//light blue #3c5afd
//dark blue #2a48cd
//even darker blue #001b4d
ul{
    padding-left:0
}
li {
    color:#001b4dff;
    list-style:none;
    position: relative;
    line-height: 2;
    font-size:15px;
  }
  
  li:before {
    font-family:FontAwesome;
    position: absolute;
    left: 0;
    color:#2a48cd;
    font-size:15px;
  }
  
  li.one:before {
     content:"\f111"; 
  }
  
#header{
    
}
#about {
    .about-icons {
        height: 50px;
        img {
            max-height: 100%;
            width:50px;
        }
    }
}
#skills {

}

.fp-controlArrow {
    position: absolute;
    z-index: 4;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -38px;
}
.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 18.5px 18.5px 20px 0;
    border-color: transparent $blue-dark transparent transparent;
}
.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 18.5px 0 18.5px 20px;
    border-color: transparent transparent transparent $blue-dark;
}


#contact {
    background-color: #4cae50;
}

.header{
    font-size:75px;
}
.jumbo-header{
    font-size: 100px;
}
.content{
    font-size: 20px;
}

.light{
    color:white;
}

.dark {
    color:#23153c
}
.tag{
    color:#212121;
}
.grey {
    color:#bdbdbd;
}



