@import url(~fullpage.js/dist/fullpage.min.css);

* {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
}
#header{
    //background-color: #4759BC;
}
#about {
    background-color: #9688AF;

    .about-icons {
        height: 100px;
        img {
            max-height: 100%;
        }
    }
}
#skills {

}
#experience{
    background-color: #feea3b
}

#contact {
    background-color: #4cae50;
}

.header{
    font-size:75px;
}
.content{
    font-size: 20px;
}

.light{
    color:white;
}

.dark {
    color:#1b1b1b
}
.tag{
    color:#212121;
}
.grey {
    color:#bdbdbd;
}

